<%= form_with model: @recipe, url: recipes_url, class: 'flex flex-col gap-1 items-center mt-24 border-2 p-4' do |f| %>
  <div class="flex gap-3">
    <%= f.label :name, class: 'text-semibold' %>
    <%= f.text_field :name, class: 'border-1 shadow-md p-1 outline-blue-500' %>
  </div>

  <div class="flex gap-3">
    <%= f.label :prep_time, class: 'text-semibold' %>
    <%= f.text_field :prep_time, class: 'border-1 shadow-md h-16 outline-blue-500 p-1' %>
  </div>

  <div class="flex gap-3">
    <%= f.label :cooking_time, class: 'text-semibold' %>
    <%= f.text_field :cooking_time, class: 'border-1 shadow-md h-16 outline-blue-500 p-1' %>
  </div>

  <div class="flex gap-3">
    <%= f.label :description, class: 'text-semibold' %>
    <%= f.text_area :description, class: 'border-1 shadow-md h-16 outline-blue-500 p-1' %>
  </div>

  <div class="flex gap-3">
    <%= f.label :public, class: 'text-semibold' %>
    <%= f.check_box :public, class: 'border-1 shadow-md h-16 outline-blue-500 p-1' %>
  </div>

  <div class="bg-green-500 mt-4 rounded-sm p-2 text-white">
    <%= f.submit "Add new recipe" %>
  </div>
<% end %>
