<div class="card d-flex justify-content-center mt-4" style="width: 80%; margin:auto">
  <div class="card-body">
    <div class="d-flex justify-content-between">
      <h5 class="card-title"><%= @recipe.name%></h5>
      <% if can? :manage, @recipe%>
        <% if @recipe.public %>
          <%= button_to "Mark as private", update_recipe_path(@recipe), method: :patch, class:"btn btn-sm btn-light" %>
        <% else %>
          <%= button_to "Mark as public", update_recipe_path(@recipe), method: :patch, class:"btn btn-sm btn-light"  %>
        <% end %>
      <% end %>
    </div>
    <h6 class="card-subtitle mb-2 text-info">Preparation time: <%= @recipe.prep_time%>(min)</h6>
    <h6 class="card-subtitle mb-2 text-info">cooking time: <%= @recipe.cooking_time%>(min)</h6>
    <small class="opacity-50 text-nowrap"> Description</small>
    <p class="card-text"><%= @recipe.description%></p>
    
       <!-- Button trigger modal -->
        <div class="d-flex justify-content-between">
        <% if can? :manage, @recipe %>
          <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#exampleModalCenter">add ingredient</button>
        <% end %>
          <%= link_to "Generate shopping list", shoppingList_list_path(@recipe), class: "btn btn-sm btn-light btn-shop" %>
        </div>
    
  </div>
</div>
<h4 class="mt-4 text-center">Ingredients </h4>
<div class="card d-flex justify-content-center mt-4" style="width: 80%; margin:auto">
    <table class="table table-ligth table-hover">
        <% if @recipe.foods.empty? %>
            <p>No food in this recipe</p>
        <% else %>
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Food name</th>
                <th scope="col">Food Price</th>
                <th scope="col">quantity</th>
                <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @recipe.recipe_foods.each_with_index do |ingredient, index|%>
                <tr>
                    <th scope="row"><%=index%></th>
                    <td><%= ingredient.food.name %></td>
                    <td><%= ingredient.quantity %></td>
                    <td>$ <%= ingredient.food.price %></td>
                    
                    <% if can? :manage, @recipe %>
                    <td>
                        <%= link_to "Edit", edit_recipe_recipe_food_path(@recipe, ingredient), class:"btn btn-sm btn-primary" if can? :manage, @recipe%>
                    </td> 
                    <td>
                        <%= link_to "Delete", recipe_recipe_food_path(@recipe, ingredient), method: :delete, class:"btn btn-sm btn-danger" if can? :manage, @recipe %>
                    </td>
                    <% end %>
                </tr>
                <% end %>
            </tbody>
        <% end %>
    </table>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add ingredients for <%=@recipe.name%></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render "recipe_foods/form"%>
      </div>
    </div>
  </div>
</div>