<%= form_with model: @food, local: true do |form|%>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name %>
    </div>
    <div class="field">
        <%= form.label :quantity %>
        <%= form.number_field :quantity %>
    </div>
    <div class="field">
        <%= form.label :measurement_unit %>
        <%= form.number_field :measurement_unit %>
    </div>
    <div class="field">
        <%= form.label :price %>
        <%= form.number_field :price, value: number_to_currency(form.object.price.to_f, delimiter: '%.2f', unit: '$'), step: :any %>
    </div>
    <%= form.submit "Create", class: "btn btn-primary" %>

<% end %>