<main class="p-5 flex flex-col">
  <h1 class="font-bold text-3xl">Foods page</h1>
  <button class="w-32 self-end bg-blue-500 text-white p-2 my-3" type="button">
    <%= link_to 'Add Food', new_food_path %>
  <button>
  <section class="w-full flex flex-col">
  <div class="w-full flex">
    <p class="p-2 text-center">Food</p>
    <p class="p-2 text-center">Measurement unit</p>
    <p class="p-2 text-center">Unit price</p>
    <p class="p-2 text-center">Actions</p>
  </div>
  <ul class="w-full flex flex-col gap-2 p-4 items-center">
    <% @foods.each do |food| %>
      <li class="w-full flex border-1 p-5">
        <p class="w-full p-2 text-center"><%= food.name %></p>
        <p class="w-full p-2 text-center"><%= food.measurement_unit %></p>
        <p class="w-full p-2 text-center"><%= food.price %></p>
        <div class="w-full p-2 text-center"><%= link_to "Delete", food, method: "delete", class: "p-2 text-center text-white bg-red-500" %></div>
      </li>
    <% end %>
  </ul>
  </section>
</main>
